.notify {
	background-color:#e3f7fc;
	color:#555;
    border:.1em solid;
	border-color: #8ed9f6;
    border-radius:5px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1em;
    padding:10px 10px 10px 10px;
    margin:10px 0 10px 0;
    cursor: default;
}

.notify-red { background: #ffecec; border-color: #fad9d7; }

