<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="toolbar-icon" *ngIf="!sidenav.opened" (click)="sidenav.toggle()"> menu </mat-icon>
    <mat-icon class="toolbar-icon" *ngIf="sidenav.opened" (click)="sidenav.toggle()"> close </mat-icon>
    <span style= "vertical-align: middle" >
      Hi there, {{currentUser.firstname.charAt(0).toUpperCase() + currentUser.firstname.slice(1).toLowerCase()}}!
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="height: 100vh">

<mat-sidenav #sidenav style="overflow:hidden;" mode="over">

  <mat-nav-list >
    <div *ngFor="let navItem of navigationItems">
      <a mat-list-item *ngIf="!navItem.dropdown" [ngClass]="{'active': activeItemId === navItem.id}"
      routerLink="{{navItem.routerLink}}"
      (click)="setActive(navItem.id)">
        <mat-icon>
            {{navItem.icon}}
        </mat-icon>
        <span class="aligned-with-icon">{{navItem.title}}</span>
      </a>

      <mat-expansion-panel *ngIf="navItem.dropdown" class="exp-pan-no-padding">
          <mat-expansion-panel-header >
            <mat-panel-title>
                <a mat-list-item
                  style="width: 200px; vertical-align: middle" [ngClass]="{'active': activeItemId === navItem.id}"
                  routerLink="{{navItem.routerLink}}" (click)="setActive(navItem.id)">
                  <mat-icon>
                    {{navItem.icon}}
                  </mat-icon>
                  <span class="aligned-with-icon">{{navItem.title}}</span>

                </a>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="exp-pan-sub">

            <div *ngFor="let item of navItem.items">
                <a mat-list-item class="exp-pan-sub-item" [ngClass]="{'active': activeItemId === item.id}"
                  routerLink="{{item.routerLink}}" (click)="setActive(item.id)">
                  <mat-icon>arrow_right</mat-icon>
                  <span>{{item.title}}</span>
                </a>
            </div>


            <!-- <mat-list-item style="font-weight: bold"> <mat-icon>arrow_right</mat-icon>Link 3.1 </mat-list-item>
            <a mat-list-item class="exp-pan-sub-item active"> <mat-icon>arrow_right</mat-icon>Link 3.1</a>
            <a mat-list-item class="exp-pan-sub-item"> <mat-icon style="font-size: 15px">label_important</mat-icon><h3>Link 3.2</h3></a> -->

          </mat-nav-list>

        </mat-expansion-panel>

    </div>
  </mat-nav-list>

</mat-sidenav>





<mat-sidenav-content #main>

  <router-outlet></router-outlet>

</mat-sidenav-content>

</mat-sidenav-container>
